<!DOCTYPE html>
<html lang="en">
<head>

    <title>台灣產險平台-案件查詢</title>


</head>
<body style="background-color: #f6f7fb; margin: auto; padding-TOP: 30PX;">
    <table style="width: 1020px; margin: 0 auto; background-color: #fff; border-radius: 8px; padding: 30PX; font-family: Arial, '微軟正黑體'; font-style: 10; color: #837C7C;">
        <tbody>
            <tr>
                <td>
                    <p>親愛的用戶:</p>
                    <p>案件資訊如下:</p><table width="100%" Style="border: 1px #000 solid; padding: 10px; line-height: 30px;">
                        <tbody align="center" Style=" font-family: Arial, '微軟正黑體'; font-size: 14px;">
                            <tr style=" color: #FFF;  background-color: #21409b;">
                                <td>報案序號</td>
                                <td>事故日期</td>
                                <td>事故航廈</td>
                                <td>事故地點</td>
                                <td>事故經過</td>
                                <td>備註</td>

                            </tr>
                            <tr>
                                <td>@No</td>
                                <td>@AccidentDate</td>
                                <td>@AccidentTerminal</td>
                                <td>@AccidentPlace</td>
                                <td>@AccidentProcess</td>
                                <td>@Remark</td>
                             
                            </tr>
                        </tbody>
                    </table><br><br>

                    <a href="@WebUrl" style="padding: 10px; background-color: #21409b; color: #ffffff; display: inline-block; border-radius: 4px; margin-bottom: 18px">前往查詢 </a><br><br>
                    <p Style="font-family: Arial, '微軟正黑體'; font-size: 11px; color: #666;">
                        台灣產物保險股份有限公司<br>

                        企業保險理賠部<br>
                        TEL：(02)2382-1666 <br>
                        Fax：(02)2361-0859<br>

                        Add：100台北市中正區館前路49號9樓
                    </p>
                </td>
            </tr>
        </tbody>

    </table>

</body>
</html>
